body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    /*ocultar a barra de rolagem horizontal*/
}



/*Configuração Navbar****************************/
nav.navbar-transparente {
    padding: 0px;
    box-shadow: 0px 5px 7px #00000021;
    z-index: 1;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    font-size: 20px;
    color: #643D44
}


.nav-link:hover {
    color: #cf959f;
}

.navbar-toggler {
    color: #3d252a;
    border-color: rgba (255, 255, 255, 0.5);
    /*usado para definir a bordar do menu hamburguer*/
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}


/*Index banner-------------------------------*/

.banner {
    max-width: auto;
    margin: 0 auto;
    text-align: center;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #f3c9d2, #fff);
}

.banner p {
    font-size: 16px;
    margin: 10px 0;
}




.btn-custom {
    color: #492c32;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn-roxo {
    background: #a36570cb;
    color: #fff;
}

.btn-roxo:hover {
    background: #ffb3c1;
    color: white;
}

.carousel {
    display: flex;
    overflow: hidden;
}

#carousel-indicadores.carousel {
    width: 100%;
    max-width: 100%;
    height: auto;
    /* Isso manterá a proporção da imagem */
}

#carousel-indicadores .carousel-inner {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#carousel-indicadores .carousel-item {
    width: 100%;
    max-width: 100%;
    height: auto;
}

#carousel-indicadores img {
    width: 100%;
    max-width: 100%;
    height: 100%;

}

.slide {
    flex: 0 0 100%;
    width: 100%;
}

.slide img {
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.137);
}

/*configuração sobre nos***********************************************/


#sobre-nos .separador {
    padding: 0;
    width: 50px !important;
    height: 3px;
    background: #a86774;
    line-height: 0;
    display: table;
    clear: both;
    margin: 0 auto;
}

#sobre-nos {

    text-align: center;
    height: 500px;



}

#sobre-nos .row {

    height: 250px;
    justify-content: center;
    text-align: center;
    align-items: center;

}

#sobre-nos .col-md-12 {

    justify-content: center center;
    margin-bottom: -45px;
}

#sobre-nos h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6d434b;

}

#sobre-nos .text-nos {

    color: #884654;
    margin-top: 51px;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}

#sobre-nos .align-self-center {
    max-width: 960px;
    margin: auto;
}

/***************configuração section vantagens Index*****************/
.container-vantagens {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 118px;
}


.itens-vantagens {

    align-items: center;
    border: 1px solid #fadde9;
    border-radius: 10px;
    width: 27%;
    padding: 10px;
    gap: 15px;
    margin-top: 47px;
    justify-content: center;
    align-items: center;

}

.titulo-vant {
    color: #94596586;
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
}

.container-vantagens .itens-vantagens .parag-vant {
    justify-content: center;
    text-align: center;
    color: #643d44b9
}

/******Configurações nossos servicos Index********************************/
.nossos-servicos {
    text-align: center;
    color: #3d252abb;
    margin-bottom: 148px;
}

.nossos-servicos h2 {
    color: #ffffff;
    justify-content: left;
    text-align: left;
    margin-left: 97px;
    padding-top: 54px;
    font-size: 40px;

}

.nossos-servicos p {
    color: #ffffff;
    font-size: 23px;
    justify-content: left;
    text-align: left;
    margin-left: 97px;
}



.d-flex .titulo-principal {
    background-color: #492c32;
    color: #fff;
    height: 55px;
    text-align: center;
    margin-bottom: -2px;
}

.gradient-overlay {
    position: relative;
    margin-top: -63px;
}

.gradient-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #94596586;
    /* Gradiente de exemplo - personalize as cores aqui */
    opacity: 0;
    /* Você pode ajustar a opacidade conforme necessário */

}

figure {
    margin: 0 0 2rem;
    width: 100%;
    height: 250px;
}

.tipos-gradient-overlay .text-servicos {
    background-color: #6d434b;
}



.tipos .gradient-overlay #imagem-animada {
    transition: transform 0.2s ease;
    /* Adicione uma transição suave para o movimento */
}

.tipos .gradient-overlay #imagem-animada:hover {
    transform: scale(1.05);
    /* Aumenta a imagem em 5% quando o cursor estiver sobre ela */
    cursor: pointer;
    /* Altera o cursor para indicar que a imagem é clicável */
}

/************************** Configuracao Section Clinica***********/


#clinica {

    text-align: center;
    height: 380px;
    margin-top: 218px;

}

#clinica .row {

    height: 250px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#clinica .col-md-12 {

    justify-content: center center;
    margin-bottom: -45px;

}

#clinica h2 {

    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6d434bef;

}

#clinica .text-nos {

    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6d434bbb;
    font-size: 25px;
    font-weight: 500;
}

#clinica .text-nos a {
    color: #884654;
}

#clinica .align-self-center {
    max-width: 960px;
    margin: auto;
}


.btn-avaliacao {
    background-color: #a36570cb;
    color: white;
    border-radius: 6px;
    width: 175px;
    height: 43px;
    border: 0px;
    cursor: pointer;
}


.btn-avaliacao:hover {
    background: #ffb3c1;
    color: white;
}


/*****************************Produtos***********************************/

#vendas {
    padding: 25px;
    background-color: #ffffff;
    margin-top: 20px;
}

#vendas .container {
    margin-top: 40px;
}

#vendas .produtos-img {
    width: 80%;
    height: 300px;
    border-radius: 25px;
}

.checklist-produtos {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

#vendas .item .btn-produtos {
    width: 80%;
    align-items: center;
    background-color: #965c68;
    height: 44px;
    border-radius: 8px;
    color: #fff;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-bottom: 14px;
}

#vendas .item .btn-produtos:hover {
    background-color: rgb(141, 211, 36);
    border: none;
}


.carrinho a {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #643d44b6;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;

}


.carrinho a:hover {

    background-color: rgb(141, 211, 36);
    color: #fff;
    list-style: none;

}


/* Configurações de contato *********************************************/

.contatos {
    text-align: center;
    background-color: #c986910c;
    color: #5e383f;
    padding: 20px;
}

/* Estilo para o mapa, ajuste conforme necessário */
#map {
    width: 100%;
    height: 400px;
}

/* Estilo para o formulário de contato */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilo para os links de redes sociais */
.social-links {
    text-align: center;
    margin-top: 20px;
    color: #492c32;

}

.social-links a {
    font-size: 20px;
    margin: 0 10px;
    color: #492c32;
}

.contact-info {
    text-align: center;
    margin-top: 20px;
}

.contatos .btn .btn-contato{
    background: #3d252a;
}


/*pagina agradecimento contato********************************/
.agradecimento {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    height: 100%;

}



.agradecimento p {
    font-size: 18px;
    color: #6d434b;
}

.agradecimento p a {
    font-size: 15px;
   background-color: #8B6767;
   color: #fff;
   border-radius: 2px;

}

/* Configurações Tratamento Corporal********************************/


#tratamentos .banner-tratamento-corporal picture {
    background-attachment: fixed;
}

.tratamento-corporal1 {
    padding: 30px;
    text-align: justify;
    width: 100%;
    background-color: #fff;
    padding: 5px;
    align-items: center;
}

.tratamento-corporal1 p {
    color: #925965;

    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 42px;
}

#tratamentos {
    background-attachment: fixed;
    border-radius: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    /* Defina a largura máxima desejada */
    position: relative;
}

.container li {
    list-style: none;
}


.tratamento-corporal2 {
    overflow: hidden;
    position: relative;

}

.tratamento-corporal2 .btn-avaliacao-corporal {
    width: 100%;
    border: none;
    background-color: #6d434b36;
    color: #6d434b;
    cursor: pointer;
}

.tratamento-corporal2 .btn-avaliacao-corporal:hover {
    background: #9c5e6ba2;
    color: #fdfdfd;
}

.item {
    width: calc(33.33% - 10px);
    /* Calcula 1/3 da largura da tela, com uma margem de 20px entre as colunas */
    margin-bottom: 10px;
    /* Espaçamento entre as linhas */
    box-sizing: border-box;
    /* Garante que as margens não aumentem o tamanho total */
    text-align: center;
    padding: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    position: relative;
    cursor: pointer;
}


.item img {
    width: 100%;
    height: 250px;
    transition: opacity 0.3s ease-in-out;
    /* Adicionar uma transição suave para a mudança de opacidade */

}

.item img:hover {
    transform: translate(5px, 5px);
    /* Mover 5 pixels para a direita e 5 pixels para baixo */
    transition: transform 0.2s ease-in-out;
    /* Adicionar uma transição suave */
}




.servicos {
    background-image: url(../imagens/banner-servicos.png);
    height: 385px;
}





/*TRATAMENTO FACIAL*******************************************************/

.tratamento-facial {
    overflow: hidden;
    position: relative;
    margin-top: 30px;

}

.tratamento-facial .btn-avaliacao-corporal {
    width: 100%;
    border: none;
    background-color: #6d434b36;
    color: #6d434b;
    cursor: pointer;


}

.tratamento-facial .btn-avaliacao-corporal:hover {
    background: #9c5e6ba2;
    color: #fdfdfd;
}

.checklist {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.checklist li::before {
    content: "\2714";
    /* Código Unicode para o símbolo de "certinho" */
    margin-right: 5px;
    /* Espaçamento à direita do símbolo */
    font-weight: lighter;
    /* Deixa o símbolo em negrito */
    color: #492c32;
}

/* Alinha a lista à esquerda */
.item ul {
    text-align: left;
}



/******************FOOTER***********************************************/

footer {
    background: #e1cdcdbd;
    padding: 10px 0px 20px 0px;
    position: absolute;
    justify-content: center;
    width: 100%;
}


footer .row {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .col-md-4 {
    justify-content: center;
}



footer h4 {
    color: #3d252a;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {

    color: #643d44b0;
    font-size: 0.8em;

}

footer .navbar-nav a:hover {
    color: #e998aa;
    text-decoration: none;
}


footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0 5px;
}

.span-footer {
    display: block;
    background-color: #6d434b85;
    color: #ffffff;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: absolute;
    height: 24px;
}

/*Media Queries************************************************************/

@media(min-width: 312px) {}

/* Extra small devices (portrait phones, less than 576px)*/
@media(max-width: 575.98px) {

    .d-flex .tipos {
        width: 100%
    }

    .banner h1 {
        font-size: 40px;
    }


    nav.navbar-transparente {
        background-attachment: fixed;
    }

    .gradient-overlay img {

        width: 100%;
        padding: 0;
        border-radius: 15px 15px 0 0;
    }

    .gradient-overlay {
        position: relative;
        margin-top: 50px;
    }

    .item {
        width: 100%;
        float: left;
        justify-content: center;
    }

    .item img {
        width: 100%;
        height: 230px;
    }



    .itens-vantagens p {
        font-size: 12px;
    }

    .nossos-servicos {
        text-align: center;
        color: #3d252abb;
        margin-bottom: 0px;
    }

    .nossos-servicos h2 {
        color: #ffffff;
        justify-content: center;
        text-align: center;
        margin: auto;
        padding-top: 47px;
    }

    .nossos-servicos p {
        color: #ffffff;
        font-size: 23px;
        justify-content: left;
        text-align: left;
        margin-left: 97px;
    }

    #clinica {
        height: 400px;
        margin-top: 817px;
    }

    #sobre-nos .text-nos {
        color: #884654;
        margin-top: 0px;
        font-size: 17px;
        text-align: justify;
        font-weight: 400;
        padding: 31px;
    }

    #sobre-nos h2 {
        font-size: 1.8rem;
        margin-top: 34px
    }

    .titulo-vant {
        color: #94596586;
        font-size: 12px;
        justify-content: center;
        text-align: center;
        font-weight: bolder;
    }

    .itens-vantagens p {
        font-size: 11px;
    }

    .itens-vantagens {
        align-items: center;
        border: 1px solid #fadde9;
        border-radius: 10px;
        width: 27%;
        padding: 9px;
        gap: 15px;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin-top: 78px;
    }


    #servicos {
        margin-top: -21px;
    }

    .container-vantagens {
        padding: 3px;
    }

    footer .container {
        justify-content: center;
    }

    footer .row {
        gap: 18px;
    }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px)
/* Medium devices (tablets, 768px and up)*/
    {

    .d-flex .tipos {
        width: 100%
    }

    .banner h1 {
        font-size: 41px;
    }

    .item img {
        width: 100%;
        height: 210px;

    }

    .item {
        width: 48%;
    }

    .itens-vantagens {
        margin-top: 51px;
    }

    #clinica {
        height: 400px;
        margin-top: 964px;
    }



    .gradient-overlay {
        position: relative;
        margin-top: 50px;
    }


    #sobre-nos .text-nos {
        padding: 34px;
        margin-top: 30px;
    }

    #sobre-nos h2 {
        margin-top: 43px;
    }

    .nossos-servicos .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }




    .nossos-servicos h2 {
        color: #ffffff;
        justify-content: center;
        text-align: center;
        padding-top: 39px;
        font-size: 42px;
    }

    .nossos-servicos {
        margin-bottom: 5px;
    }

    .container {
        width: 100%;
        padding-right: 41px;
        padding-left: 55px;
    }

    figure {
        margin: 0 0 2rem;
        width: 100%;
        height: 250px;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .item {
        width: 48%;
    }

    .item img {
        width: 100%;
        height: 220px;

    }

    figure {
        /* margin: auto 1rem; */
        height: 170px;

    }

    #sobre-nos .text-nos {
        padding: 34px;
        margin-top: 30px;
    }

    #sobre-nos h2 {
        margin-top: 43px;
    }

    .itens-vantagens {
        margin-top: 51px;
    }

    .nossos-servicos .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }


    .nossos-servicos {
        margin-bottom: 177px;
    }

    #clinica {
        margin-top: 123px;
    }

    .nossos-servicos h2 {
        color: #ffffff;
        justify-content: left;
        text-align: center;
        /* margin-left: 97px; */
        padding-top: 54px;
        font-size: 40px;
    }

    .nossos-servicos .container {
        max-width: 900px;
    }

    .nossos-servicos .container .row {
        min-width: 900px;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    footer .col-md-4 .d-flex {
        flex: 0 0 100%;
        max-width: 100%;
    }

}



/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    #sobre-nos h2 {
        font-size: 37px;
    }
}